.products-menu{
    max-width: 300px;
    display: flex;
    align-items: center;

}
.products-container__image{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: auto;
}
.products-container__image:hover{
    cursor: pointer;
    img{
        width: 180px;
        height: 180px;
        border: 10px solid #9AD0C2;
    }
}
.products-container__image img{
    background: #1e3933;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
}
.products-container__image p{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}